<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/iamigo.css">
    <title>test</title>
    <style>
      section{
        background-color: aqua;
      }
    </style>
  </head>
  <body>
    <h1 id="result"></h1>
    <center>
      <table id="myTable1">
      </table>
      <canvas id="myCanvas1"></canvas>
      <canvas id="myCanvas2"></canvas>
      <canvas id="myCanvas3"></canvas>
      <canvas id="myCanvas4"></canvas>

      <section>
        <p id="coords"></p>
        <p id="pixelPos"></p>
        <p id="arrayPos"></p>
        <p id="arraySize"></p>
      </section>
    </center>
    <script src="../../src/lib/drawn_canvas.mjs"></script>
    <script src="../../src/lib/stadistic.mjs"></script>
    <script src="../../database/dataBase_Users.mjs"></script>
    
    <script src="../js/statistics.js"></script>
  </body>
</html>
